.container{
    display: flex;
    text-align: center;
     gap: 50px;
     justify-content: center;
    margin-top: 180px;
    margin-left: 300px;
    margin-right: 300px;
    background-color: rgb(195, 144, 212);
    padding: 100px 100px;
    border-radius: 10px;
}
#cel{
    height: 30px;
    width: 200px;
    font-size: 20px;
}
#far{
    height: 30px;
    width: 200px;
    font-size: 20px;
}
.first1{
    font-size:20px;
}
h1{
    text-align: center;
    position: relative;
    top: 250px;
}
